project_name       = "refugia"
environment        = "dev"
aws_region         = "sa-east-1"
db_username        = "refugia_admin"
db_password        = "changeme-use-a-strong-password"
instance_type      = "t3.micro"
db_instance_class  = "db.t3.micro"
