PORT=3000

# Azure SQL Database
DB_HOST=refugia-sql-server.database.windows.net
DB_NAME=refugia
DB_USER=refugia_admin
DB_PASSWORD=changeme
DB_PORT=1433

# Auth
JWT_SECRET=changeme
JWT_EXPIRES_IN=8h

# Azure Blob Storage (se agrega cuando implementemos subida de fotos)
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=fotos-animales
